.faucet {
  max-width: 600px;
  margin: 0 auto;

  .table-coin-icon-wrapper {
    position: absolute;
    margin-left: -44px;
    margin-top: 4px;
    width: 40px;
    height: 40px;

    .table-coin-icon {
      transform: scale(0.7) !important;
    }
  }
  #g-recaptcha {
    > div {
      padding: 30px 0 62px 0;
      width: inherit !important;

      > div {
        margin: 0 auto;
      }
    }
  }
}