.modal {
  z-index: 3000;

  .modal-close-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .modal-dialog {
    z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal-backdrop {
    z-index: 1;
  }
  .modal-body {
    max-height: calc(100vh - 30px);
    overflow-y: auto;
  }
}