.ReactTable {
  .rt-th,
  .rt-td {
    padding: 10px 5px 10px 15px;
  }
  .rt-tfoot {
    text-align: center;
    font-weight: bold;

    .rt-td:first-child {
      text-align: left;
      padding-left: 15px;
    }
  }
  .pagination-bottom {
    .-pagination {
      padding: 10px;
    }
  }
  .rt-head .rt-tr,
  .rt-body .rt-tr {
    .rt-td:first-child {
      text-align: left !important;
    }
  }
  .rt-thead {
    .rt-th:first-child {
      text-align: left;
      padding-left: 15px;
    }
    &.-header {
      height: 35px;
      font-weight: bold;
    }
    .rt-th,
    .rt-td {
      padding: 9px 5px;
    }
  }
  .rt-tbody {
    .rt-td:nth-child(2),
    .rt-td:nth-child(3) {
      text-align: center;
    }
  }
  .rt-tr {
    align-items: center;
    justify-content: center;
  }
}

.navbar-brand {
  cursor: pointer;
}

.search-field {
  border-radius: 0 !important;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  text-align: center;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 12px;
}

.table-bordered {
  border-radius: 4px;
}

table,
table td {
  vertical-align: middle !important;
}

.pointer {
  cursor: pointer;
}

.interest {
  td {
    text-align: center;
  }
}

.green {
  color: #38b44a;
}

.red {
  color: #dc1a16;
}

.utxo-table,
.utxo-table .ReactTable .rt-thead .rt-th:first-child {
  text-align: center !important;
}

.prices-table,
.books-table {
  img {
    border-radius: 50%;
  }
  .rt-th,
  .rt-td {
    text-align: center !important;
  }
}

.books-table {
  .ReactTable {
    .rt-tbody {
      max-height: 400px;
    }
    .pagination-bottom {
      display: none;
    }
  }
}
.pair {
  position: relative;
  z-index: 2000;
  width: 300px;
  margin-bottom: 20px;

  .Select-control {
    height: 42px;
  }
  .Select-placeholder,
  .Select-value {
    line-height: 38px !important;
  }
  .Select-clear-zone {
    display: none;
  }
  .Select-menu-outer {
    max-height: 403px;
  }
  .Select-menu {
    max-height: 400px;
  }
}
.books-table-block {
  > div {
    display: inline-block;
    width: 49%;

    &:first-child {
      margin-right: 2%;
    }
  }
}