.ReactTable {
  .rt-th,
  .rt-td {
    padding: 10px 5px 10px 15px;
  }
  .rt-tfoot {
    text-align: center;
    font-weight: bold;

    .rt-td:first-child {
      text-align: left;
      padding-left: 15px;
    }
  }
  .pagination-bottom {
    .-pagination {
      padding: 10px;
    }
  }
  .rt-head .rt-tr,
  .rt-body .rt-tr {
    .rt-td:first-child {
      text-align: left !important;
    }
  }
  .rt-thead {
    .rt-th:first-child {
      text-align: left;
      padding-left: 15px;
    }
    &.-header {
      height: 35px;
      font-weight: bold;
    }
    .rt-th,
    .rt-td {
      padding: 9px 5px;
    }
  }
  .rt-tbody {
    .rt-td:nth-child(2),
    .rt-td:nth-child(3) {
      text-align: center;
    }
  }
  .rt-tr {
    align-items: center;
    justify-content: center;
  }
}

.navbar-brand {
  cursor: pointer;
}

.search-field {
  border-radius: 0 !important;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  text-align: center;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 12px;
}

.table-bordered {
  border-radius: 4px;
}

table,
table td {
  vertical-align: middle !important;
}

.pointer {
  cursor: pointer;
}

.interest {
  td {
    text-align: center;
  }
}

.green {
  color: #38b44a;
}

.red {
  color: #dc1a16;
}

.utxo-table,
.utxo-table .ReactTable .rt-thead .rt-th:first-child {
  text-align: center !important;
}

.prices-table,
.books-table {
  img {
    border-radius: 50%;
  }
  .rt-th,
  .rt-td {
    text-align: center !important;
  }
}

.prices-table .rt-tr-group .rt-td:first-child {
  text-align: left !important;
  margin-left: 5px;
}

.books-table {
  .ReactTable {
    .rt-tbody {
      max-height: 400px;
    }
    .pagination-bottom {
      display: none;
    }
  }
}
.pair {
  position: relative;
  z-index: 2000;
  width: 300px;
  margin-bottom: 20px;

  .Select-control {
    height: 42px;
  }
  .Select-placeholder,
  .Select-value {
    line-height: 38px !important;
  }
  .Select-clear-zone {
    display: none;
  }
  .Select-menu-outer {
    max-height: 403px;
  }
  .Select-menu {
    max-height: 400px;
  }
}
.books-table-block {
  > div {
    display: inline-block;
    width: 49%;

    &:first-child {
      margin-right: 2%;
    }
  }
}

.navbar-fixed-bottom {
  color: #fff;

  .navbar-link {
    cursor: pointer;
  }
}

.navbar-fixed-top {
  z-index: 2030;
}

.btn-interest,
.btn-interest:active,
.btn-interest:hover {
  background: #2f6363;
  color: #fff;

  i {
    margin-right: 10px;
  }
}

.interest-calc-table {
  text-align: center;
}

.interest-dropdown {
  .Select-clear-zone {
    display: none;
  }
}

.interest-label {
  padding-top: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

   input {
    display: none;
  }
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
  &:before {
    border-radius: 50%;
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.toggle-label {
  color: #757575;
  display: inline-block;
  position: relative;
  top: -12px;
  left: 8px;
}

input:checked + .slider {
  background-color: rgb(57, 73, 171);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(57, 73, 171);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.toggle {
  .switch {
    top: 8px;
    margin-left: 10px;
  }
  .title {
    position: relative;
    top: -4px;
    left: 14px;
  }
}

.prices-usd-icon {
  color: #737373;
  margin-right: 1px;
}

.dex-coins {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  img {
    border-radius: 50%;
  }

  .list-a-coin {
    border-radius: 4px;
    background: #2f6363;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;

    a {
      color: #fff;
      padding: 10px;
      display: block;
    }

    &:hover {
      background-color: #f8a627;

      a,
      a:visited,
      a:hover {
        color: #fff;
      }
    }
  }

  .coins-list {
    .coins-list-item {
      display: inline-block;
      width: 150px;
      height: 150px;
      text-align: center;

      .title {
        margin-top: 7px;
        font-weight: bold;
        color: #6f6f6f;
      }
    }
  }
}

.site-footer {
  border-color: #2f6363;
  background-color: #2f6363;
  color: #fff;
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;

  a {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }

  .twitter-icon {
    font-size: 24px;
    line-height: 20px;
    margin-left: 15px;
    padding: 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
  }
}

.prices-block {
  max-width: 1080px;
  margin: 0 auto;
}

div[class^='coin_'],
div[class*=' coin_'],
span[class^='coin_'],
span[class*=' coin_'] {
  border-radius: 50%;
}

.trades-block {
  &.simple {
    max-width: 1200px;
    margin: 0 auto;

    .trades-table {
      .rt-thead {
        .rt-th:nth-child(8),
        .rt-th:nth-child(9),
        .rt-th:nth-child(10) {
          display: none !important;
        }
      }
      .rt-tbody,
      .rt-tfoot {
        .rt-td:nth-child(8),
        .rt-td:nth-child(9),
        .rt-td:nth-child(10) {
          display: none !important;
        }
      }
    }
  }
}

.trades-table {
  .rt-td {
    text-align: center;
  }
  .rt-td:nth-child(1) {
    text-align: left;
  }
}

.detailed-view-toggle {
  float: right;
  position: relative;
  top: -12px;
  left: -20px;
}