.pointer {
  cursor: pointer;
}

.green {
  color: #38b44a;
}

.red {
  color: #dc1a16;
}

.pair {
  position: relative;
  z-index: 2000;
  width: 300px;
  margin-bottom: 20px;

  .Select-control {
    height: 42px;
  }
  .Select-placeholder,
  .Select-value {
    line-height: 38px !important;
  }
  .Select-clear-zone {
    display: none;
  }
  .Select-menu-outer {
    max-height: 403px;
  }
  .Select-menu {
    max-height: 400px;
  }
}

div[class^='coin_'],
div[class*=' coin_'],
span[class^='coin_'],
span[class*=' coin_'] {
  border-radius: 50%;
}

#index-search {
  max-width: 500px;

  input {
    display: inline-block;
    width: 200px;
  }
}

.balance-multi-block {
  text-align: center;
  padding-top: 30px;

  .balance-multi-ta {
    width: 450px;
    height: 150px;
    padding: 10px;
  }

  .table {
    max-width: 750px;
    margin: 0 auto;
  }
}

.explorers-list {
  .table {
    max-width: 600px;
    margin: 0 auto;
  }
}

.explorer-icons {
  max-width: 600px;
  margin: 0 auto;
}

td {
  white-space: nowrap;
}

.theme-selector {
  position: absolute;
  top: 22px;
  left: 110px;

  .item {
    position: relative;
    top: 2px;
    border: solid 1px transparent;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;

    &.black {
      background: #000;
    }
    &.green {
      background: #38b44a;
    }
    &:hover {
      border: solid 1px #fff;
    }
    &.active {
      border: solid 1px rgba(255, 255, 255, 0.7);
      cursor: default;
    }
  }
}

.summary-table {
  .coin-label {
    position: relative;
    top: 3px;
  }
}

.table-responsive {
  border-radius: 4px;
}

.text-center {
  text-align: center !important;
}

.logo-img {
  margin-bottom: 20px;
}

.block-center {
  margin: 0 auto;
  float: none;
}

.loading-img {
  padding-left: 5px;
}