@import './bootstrap.min.css';
@import './united.css';
@import '../fonts/font-awesome/font-awesome.min.css';
@import '~react-table/react-table.css';
@import '~react-select/dist/react-select.css';
@import './style.css';
@import './custom.scss';

/* custom styles */