@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
    padding-top: 60px;
  }
  .books-table-block {
    .panel {
      display: block;
      margin: 0;
      width: 100%;

      &:first-child {
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}

@media(max-width: 780px) {
  body {
    padding: 0px;
    padding-top: 60px;
  }
}

@media(max-width: 1096px) {
  .nav-search input {
    width: 300px !important;
  }
}

@media(max-width: 865px) {
  .nav-search input {
    width: 150px !important;
  }
}

@media(max-width: 916px) {
  .navbar-sub-parent,
  .navbar-sub-parent:hover,
  .navbar-sub-parent.dex,
  .navbar-sub-parent.rewards,
  .navbar-sub-parent.explorers,
  .navbar-sub-parent.tap {
    width: 100%;

    > a {
      background: #2f6363 !important;
    }
    &:before {
      display: none;
    }

    .nav.navbar-sub,
    .nav.navbar-sub {
      width: 100% !important;
      position: relative;
      display: inherit;

      li {
        display: block;
        border: none;

        a {
          border: none;
          padding: 10px 35px;

          &:hover {
            background-color: #f8a627;
            border: none;
          }
        }
      }
    }
  }
  .navbar-collapse {
    overflow-x: auto;
  }
}