@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
    padding-top: 60px;
  }
  .books-table-block {
    .panel {
      display: block;
      margin: 0;
      width: 100%;

      &:first-child {
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}

@media(max-width: 767px){
  body {
    padding: 0px;
    padding-top: 60px;
  }
}

@media(max-width: 1096px){
  .nav-search input {
    width: 300px !important;
  }
}

@media(max-width: 865px){
  .nav-search input {
    width: 150px !important;
  }
}