.margin-top-md {
  margin-top: 1em !important;
}
.margin-top-lg {
  margin-top: 2em !important;
}
.margin-bottom-md {
  margin-bottom: 1em !important;
}
.margin-bottom-lg {
  margin-bottom: 2em !important;
}
.margin-bottom-xlg {
  margin-bottom: 3em !important;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-left-10 {
  margin-left: 10px;
}