// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$coin-888-name: 'coin_888';
$coin-888-x: 200px;
$coin-888-y: 456px;
$coin-888-offset-x: -200px;
$coin-888-offset-y: -456px;
$coin-888-width: 100px;
$coin-888-height: 100px;
$coin-888-total-width: 1340px;
$coin-888-total-height: 1255px;
$coin-888-image: './sprite.png';
$coin-888: (200px, 456px, -200px, -456px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_888', );
$coin-aby-name: 'coin_aby';
$coin-aby-x: 100px;
$coin-aby-y: 856px;
$coin-aby-offset-x: -100px;
$coin-aby-offset-y: -856px;
$coin-aby-width: 100px;
$coin-aby-height: 100px;
$coin-aby-total-width: 1340px;
$coin-aby-total-height: 1255px;
$coin-aby-image: './sprite.png';
$coin-aby: (100px, 856px, -100px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_aby', );
$coin-anc-name: 'coin_anc';
$coin-anc-x: 856px;
$coin-anc-y: 200px;
$coin-anc-offset-x: -856px;
$coin-anc-offset-y: -200px;
$coin-anc-width: 100px;
$coin-anc-height: 100px;
$coin-anc-total-width: 1340px;
$coin-anc-total-height: 1255px;
$coin-anc-image: './sprite.png';
$coin-anc: (856px, 200px, -856px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_anc', );
$coin-arc-name: 'coin_arc';
$coin-arc-x: 500px;
$coin-arc-y: 856px;
$coin-arc-offset-x: -500px;
$coin-arc-offset-y: -856px;
$coin-arc-width: 100px;
$coin-arc-height: 100px;
$coin-arc-total-width: 1340px;
$coin-arc-total-height: 1255px;
$coin-arc-image: './sprite.png';
$coin-arc: (500px, 856px, -500px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_arc', );
$coin-arg-name: 'coin_arg';
$coin-arg-x: 956px;
$coin-arg-y: 300px;
$coin-arg-offset-x: -956px;
$coin-arg-offset-y: -300px;
$coin-arg-width: 100px;
$coin-arg-height: 100px;
$coin-arg-total-width: 1340px;
$coin-arg-total-height: 1255px;
$coin-arg-image: './sprite.png';
$coin-arg: (956px, 300px, -956px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_arg', );
$coin-aud-name: 'coin_aud';
$coin-aud-x: 900px;
$coin-aud-y: 1056px;
$coin-aud-offset-x: -900px;
$coin-aud-offset-y: -1056px;
$coin-aud-width: 100px;
$coin-aud-height: 100px;
$coin-aud-total-width: 1340px;
$coin-aud-total-height: 1255px;
$coin-aud-image: './sprite.png';
$coin-aud: (900px, 1056px, -900px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_aud', );
$coin-axo-name: 'coin_axo';
$coin-axo-x: 100px;
$coin-axo-y: 256px;
$coin-axo-offset-x: -100px;
$coin-axo-offset-y: -256px;
$coin-axo-width: 100px;
$coin-axo-height: 100px;
$coin-axo-total-width: 1340px;
$coin-axo-total-height: 1255px;
$coin-axo-image: './sprite.png';
$coin-axo: (100px, 256px, -100px, -256px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_axo', );
$coin-bay-name: 'coin_bay';
$coin-bay-x: 1256px;
$coin-bay-y: 437px;
$coin-bay-offset-x: -1256px;
$coin-bay-offset-y: -437px;
$coin-bay-width: 80px;
$coin-bay-height: 80px;
$coin-bay-total-width: 1340px;
$coin-bay-total-height: 1255px;
$coin-bay-image: './sprite.png';
$coin-bay: (1256px, 437px, -1256px, -437px, 80px, 80px, 1340px, 1255px, './sprite.png', 'coin_bay', );
$coin-bch-name: 'coin_bch';
$coin-bch-x: 300px;
$coin-bch-y: 256px;
$coin-bch-offset-x: -300px;
$coin-bch-offset-y: -256px;
$coin-bch-width: 100px;
$coin-bch-height: 100px;
$coin-bch-total-width: 1340px;
$coin-bch-total-height: 1255px;
$coin-bch-image: './sprite.png';
$coin-bch: (300px, 256px, -300px, -256px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bch', );
$coin-bco-name: 'coin_bco';
$coin-bco-x: 0px;
$coin-bco-y: 356px;
$coin-bco-offset-x: 0px;
$coin-bco-offset-y: -356px;
$coin-bco-width: 100px;
$coin-bco-height: 100px;
$coin-bco-total-width: 1340px;
$coin-bco-total-height: 1255px;
$coin-bco-image: './sprite.png';
$coin-bco: (0px, 356px, 0px, -356px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bco', );
$coin-bdl-name: 'coin_bdl';
$coin-bdl-x: 100px;
$coin-bdl-y: 356px;
$coin-bdl-offset-x: -100px;
$coin-bdl-offset-y: -356px;
$coin-bdl-width: 100px;
$coin-bdl-height: 100px;
$coin-bdl-total-width: 1340px;
$coin-bdl-total-height: 1255px;
$coin-bdl-image: './sprite.png';
$coin-bdl: (100px, 356px, -100px, -356px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bdl', );
$coin-beer-name: 'coin_beer';
$coin-beer-x: 1256px;
$coin-beer-y: 357px;
$coin-beer-offset-x: -1256px;
$coin-beer-offset-y: -357px;
$coin-beer-width: 80px;
$coin-beer-height: 80px;
$coin-beer-total-width: 1340px;
$coin-beer-total-height: 1255px;
$coin-beer-image: './sprite.png';
$coin-beer: (1256px, 357px, -1256px, -357px, 80px, 80px, 1340px, 1255px, './sprite.png', 'coin_beer', );
$coin-bet-name: 'coin_bet';
$coin-bet-x: 300px;
$coin-bet-y: 356px;
$coin-bet-offset-x: -300px;
$coin-bet-offset-y: -356px;
$coin-bet-width: 100px;
$coin-bet-height: 100px;
$coin-bet-total-width: 1340px;
$coin-bet-total-height: 1255px;
$coin-bet-image: './sprite.png';
$coin-bet: (300px, 356px, -300px, -356px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bet', );
$coin-bgn-name: 'coin_bgn';
$coin-bgn-x: 456px;
$coin-bgn-y: 0px;
$coin-bgn-offset-x: -456px;
$coin-bgn-offset-y: 0px;
$coin-bgn-width: 100px;
$coin-bgn-height: 100px;
$coin-bgn-total-width: 1340px;
$coin-bgn-total-height: 1255px;
$coin-bgn-image: './sprite.png';
$coin-bgn: (456px, 0px, -456px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bgn', );
$coin-blk-name: 'coin_blk';
$coin-blk-x: 0px;
$coin-blk-y: 1156px;
$coin-blk-offset-x: 0px;
$coin-blk-offset-y: -1156px;
$coin-blk-width: 100px;
$coin-blk-height: 99px;
$coin-blk-total-width: 1340px;
$coin-blk-total-height: 1255px;
$coin-blk-image: './sprite.png';
$coin-blk: (0px, 1156px, 0px, -1156px, 100px, 99px, 1340px, 1255px, './sprite.png', 'coin_blk', );
$coin-block-name: 'coin_block';
$coin-block-x: 456px;
$coin-block-y: 200px;
$coin-block-offset-x: -456px;
$coin-block-offset-y: -200px;
$coin-block-width: 100px;
$coin-block-height: 100px;
$coin-block-total-width: 1340px;
$coin-block-total-height: 1255px;
$coin-block-image: './sprite.png';
$coin-block: (456px, 200px, -456px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_block', );
$coin-bots-name: 'coin_bots';
$coin-bots-x: 456px;
$coin-bots-y: 300px;
$coin-bots-offset-x: -456px;
$coin-bots-offset-y: -300px;
$coin-bots-width: 100px;
$coin-bots-height: 100px;
$coin-bots-total-width: 1340px;
$coin-bots-total-height: 1255px;
$coin-bots-image: './sprite.png';
$coin-bots: (456px, 300px, -456px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bots', );
$coin-brl-name: 'coin_brl';
$coin-brl-x: 0px;
$coin-brl-y: 456px;
$coin-brl-offset-x: 0px;
$coin-brl-offset-y: -456px;
$coin-brl-width: 100px;
$coin-brl-height: 100px;
$coin-brl-total-width: 1340px;
$coin-brl-total-height: 1255px;
$coin-brl-image: './sprite.png';
$coin-brl: (0px, 456px, 0px, -456px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_brl', );
$coin-bsd-name: 'coin_bsd';
$coin-bsd-x: 100px;
$coin-bsd-y: 456px;
$coin-bsd-offset-x: -100px;
$coin-bsd-offset-y: -456px;
$coin-bsd-width: 100px;
$coin-bsd-height: 100px;
$coin-bsd-total-width: 1340px;
$coin-bsd-total-height: 1255px;
$coin-bsd-image: './sprite.png';
$coin-bsd: (100px, 456px, -100px, -456px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_bsd', );
$coin-bta-name: 'coin_bta';
$coin-bta-x: 256px;
$coin-bta-y: 0px;
$coin-bta-offset-x: -256px;
$coin-bta-offset-y: 0px;
$coin-bta-width: 100px;
$coin-bta-height: 116px;
$coin-bta-total-width: 1340px;
$coin-bta-total-height: 1255px;
$coin-bta-image: './sprite.png';
$coin-bta: (256px, 0px, -256px, 0px, 100px, 116px, 1340px, 1255px, './sprite.png', 'coin_bta', );
$coin-btc-name: 'coin_btc';
$coin-btc-x: 300px;
$coin-btc-y: 456px;
$coin-btc-offset-x: -300px;
$coin-btc-offset-y: -456px;
$coin-btc-width: 100px;
$coin-btc-height: 100px;
$coin-btc-total-width: 1340px;
$coin-btc-total-height: 1255px;
$coin-btc-image: './sprite.png';
$coin-btc: (300px, 456px, -300px, -456px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_btc', );
$coin-btcd-name: 'coin_btcd';
$coin-btcd-x: 400px;
$coin-btcd-y: 456px;
$coin-btcd-offset-x: -400px;
$coin-btcd-offset-y: -456px;
$coin-btcd-width: 100px;
$coin-btcd-height: 100px;
$coin-btcd-total-width: 1340px;
$coin-btcd-total-height: 1255px;
$coin-btcd-image: './sprite.png';
$coin-btcd: (400px, 456px, -400px, -456px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_btcd', );
$coin-btch-name: 'coin_btch';
$coin-btch-x: 1256px;
$coin-btch-y: 0px;
$coin-btch-offset-x: -1256px;
$coin-btch-offset-y: 0px;
$coin-btch-width: 84px;
$coin-btch-height: 100px;
$coin-btch-total-width: 1340px;
$coin-btch-total-height: 1255px;
$coin-btch-image: './sprite.png';
$coin-btch: (1256px, 0px, -1256px, 0px, 84px, 100px, 1340px, 1255px, './sprite.png', 'coin_btch', );
$coin-btcz-name: 'coin_btcz';
$coin-btcz-x: 1156px;
$coin-btcz-y: 999px;
$coin-btcz-offset-x: -1156px;
$coin-btcz-offset-y: -999px;
$coin-btcz-width: 100px;
$coin-btcz-height: 99px;
$coin-btcz-total-width: 1340px;
$coin-btcz-total-height: 1255px;
$coin-btcz-image: './sprite.png';
$coin-btcz: (1156px, 999px, -1156px, -999px, 100px, 99px, 1340px, 1255px, './sprite.png', 'coin_btcz', );
$coin-btg-name: 'coin_btg';
$coin-btg-x: 556px;
$coin-btg-y: 200px;
$coin-btg-offset-x: -556px;
$coin-btg-offset-y: -200px;
$coin-btg-width: 100px;
$coin-btg-height: 100px;
$coin-btg-total-width: 1340px;
$coin-btg-total-height: 1255px;
$coin-btg-image: './sprite.png';
$coin-btg: (556px, 200px, -556px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_btg', );
$coin-btm-name: 'coin_btm';
$coin-btm-x: 556px;
$coin-btm-y: 300px;
$coin-btm-offset-x: -556px;
$coin-btm-offset-y: -300px;
$coin-btm-width: 100px;
$coin-btm-height: 100px;
$coin-btm-total-width: 1340px;
$coin-btm-total-height: 1255px;
$coin-btm-image: './sprite.png';
$coin-btm: (556px, 300px, -556px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_btm', );
$coin-btx-name: 'coin_btx';
$coin-btx-x: 556px;
$coin-btx-y: 400px;
$coin-btx-offset-x: -556px;
$coin-btx-offset-y: -400px;
$coin-btx-width: 100px;
$coin-btx-height: 100px;
$coin-btx-total-width: 1340px;
$coin-btx-total-height: 1255px;
$coin-btx-image: './sprite.png';
$coin-btx: (556px, 400px, -556px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_btx', );
$coin-cad-name: 'coin_cad';
$coin-cad-x: 0px;
$coin-cad-y: 556px;
$coin-cad-offset-x: 0px;
$coin-cad-offset-y: -556px;
$coin-cad-width: 100px;
$coin-cad-height: 100px;
$coin-cad-total-width: 1340px;
$coin-cad-total-height: 1255px;
$coin-cad-image: './sprite.png';
$coin-cad: (0px, 556px, 0px, -556px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_cad', );
$coin-carb-name: 'coin_carb';
$coin-carb-x: 100px;
$coin-carb-y: 556px;
$coin-carb-offset-x: -100px;
$coin-carb-offset-y: -556px;
$coin-carb-width: 100px;
$coin-carb-height: 100px;
$coin-carb-total-width: 1340px;
$coin-carb-total-height: 1255px;
$coin-carb-image: './sprite.png';
$coin-carb: (100px, 556px, -100px, -556px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_carb', );
$coin-ceal-name: 'coin_ceal';
$coin-ceal-x: 200px;
$coin-ceal-y: 556px;
$coin-ceal-offset-x: -200px;
$coin-ceal-offset-y: -556px;
$coin-ceal-width: 100px;
$coin-ceal-height: 100px;
$coin-ceal-total-width: 1340px;
$coin-ceal-total-height: 1255px;
$coin-ceal-image: './sprite.png';
$coin-ceal: (200px, 556px, -200px, -556px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_ceal', );
$coin-chf-name: 'coin_chf';
$coin-chf-x: 300px;
$coin-chf-y: 556px;
$coin-chf-offset-x: -300px;
$coin-chf-offset-y: -556px;
$coin-chf-width: 100px;
$coin-chf-height: 100px;
$coin-chf-total-width: 1340px;
$coin-chf-total-height: 1255px;
$coin-chf-image: './sprite.png';
$coin-chf: (300px, 556px, -300px, -556px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_chf', );
$coin-chips-name: 'coin_chips';
$coin-chips-x: 400px;
$coin-chips-y: 556px;
$coin-chips-offset-x: -400px;
$coin-chips-offset-y: -556px;
$coin-chips-width: 100px;
$coin-chips-height: 100px;
$coin-chips-total-width: 1340px;
$coin-chips-total-height: 1255px;
$coin-chips-image: './sprite.png';
$coin-chips: (400px, 556px, -400px, -556px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_chips', );
$coin-cny-name: 'coin_cny';
$coin-cny-x: 500px;
$coin-cny-y: 556px;
$coin-cny-offset-x: -500px;
$coin-cny-offset-y: -556px;
$coin-cny-width: 100px;
$coin-cny-height: 100px;
$coin-cny-total-width: 1340px;
$coin-cny-total-height: 1255px;
$coin-cny-image: './sprite.png';
$coin-cny: (500px, 556px, -500px, -556px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_cny', );
$coin-coqui-name: 'coin_coqui';
$coin-coqui-x: 656px;
$coin-coqui-y: 0px;
$coin-coqui-offset-x: -656px;
$coin-coqui-offset-y: 0px;
$coin-coqui-width: 100px;
$coin-coqui-height: 100px;
$coin-coqui-total-width: 1340px;
$coin-coqui-total-height: 1255px;
$coin-coqui-image: './sprite.png';
$coin-coqui: (656px, 0px, -656px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_coqui', );
$coin-crc-name: 'coin_crc';
$coin-crc-x: 656px;
$coin-crc-y: 100px;
$coin-crc-offset-x: -656px;
$coin-crc-offset-y: -100px;
$coin-crc-width: 100px;
$coin-crc-height: 100px;
$coin-crc-total-width: 1340px;
$coin-crc-total-height: 1255px;
$coin-crc-image: './sprite.png';
$coin-crc: (656px, 100px, -656px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_crc', );
$coin-crea-name: 'coin_crea';
$coin-crea-x: 656px;
$coin-crea-y: 200px;
$coin-crea-offset-x: -656px;
$coin-crea-offset-y: -200px;
$coin-crea-width: 100px;
$coin-crea-height: 100px;
$coin-crea-total-width: 1340px;
$coin-crea-total-height: 1255px;
$coin-crea-image: './sprite.png';
$coin-crea: (656px, 200px, -656px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_crea', );
$coin-crw-name: 'coin_crw';
$coin-crw-x: 656px;
$coin-crw-y: 300px;
$coin-crw-offset-x: -656px;
$coin-crw-offset-y: -300px;
$coin-crw-width: 100px;
$coin-crw-height: 100px;
$coin-crw-total-width: 1340px;
$coin-crw-total-height: 1255px;
$coin-crw-image: './sprite.png';
$coin-crw: (656px, 300px, -656px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_crw', );
$coin-crypto-name: 'coin_crypto';
$coin-crypto-x: 656px;
$coin-crypto-y: 400px;
$coin-crypto-offset-x: -656px;
$coin-crypto-offset-y: -400px;
$coin-crypto-width: 100px;
$coin-crypto-height: 100px;
$coin-crypto-total-width: 1340px;
$coin-crypto-total-height: 1255px;
$coin-crypto-image: './sprite.png';
$coin-crypto: (656px, 400px, -656px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_crypto', );
$coin-czk-name: 'coin_czk';
$coin-czk-x: 656px;
$coin-czk-y: 500px;
$coin-czk-offset-x: -656px;
$coin-czk-offset-y: -500px;
$coin-czk-width: 100px;
$coin-czk-height: 100px;
$coin-czk-total-width: 1340px;
$coin-czk-total-height: 1255px;
$coin-czk-image: './sprite.png';
$coin-czk: (656px, 500px, -656px, -500px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_czk', );
$coin-dash-name: 'coin_dash';
$coin-dash-x: 0px;
$coin-dash-y: 656px;
$coin-dash-offset-x: 0px;
$coin-dash-offset-y: -656px;
$coin-dash-width: 100px;
$coin-dash-height: 100px;
$coin-dash-total-width: 1340px;
$coin-dash-total-height: 1255px;
$coin-dash-image: './sprite.png';
$coin-dash: (0px, 656px, 0px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_dash', );
$coin-dex-name: 'coin_dex';
$coin-dex-x: 100px;
$coin-dex-y: 656px;
$coin-dex-offset-x: -100px;
$coin-dex-offset-y: -656px;
$coin-dex-width: 100px;
$coin-dex-height: 100px;
$coin-dex-total-width: 1340px;
$coin-dex-total-height: 1255px;
$coin-dex-image: './sprite.png';
$coin-dex: (100px, 656px, -100px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_dex', );
$coin-dgb-name: 'coin_dgb';
$coin-dgb-x: 200px;
$coin-dgb-y: 656px;
$coin-dgb-offset-x: -200px;
$coin-dgb-offset-y: -656px;
$coin-dgb-width: 100px;
$coin-dgb-height: 100px;
$coin-dgb-total-width: 1340px;
$coin-dgb-total-height: 1255px;
$coin-dgb-image: './sprite.png';
$coin-dgb: (200px, 656px, -200px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_dgb', );
$coin-dkk-name: 'coin_dkk';
$coin-dkk-x: 300px;
$coin-dkk-y: 656px;
$coin-dkk-offset-x: -300px;
$coin-dkk-offset-y: -656px;
$coin-dkk-width: 100px;
$coin-dkk-height: 100px;
$coin-dkk-total-width: 1340px;
$coin-dkk-total-height: 1255px;
$coin-dkk-image: './sprite.png';
$coin-dkk: (300px, 656px, -300px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_dkk', );
$coin-doge-name: 'coin_doge';
$coin-doge-x: 400px;
$coin-doge-y: 656px;
$coin-doge-offset-x: -400px;
$coin-doge-offset-y: -656px;
$coin-doge-width: 100px;
$coin-doge-height: 100px;
$coin-doge-total-width: 1340px;
$coin-doge-total-height: 1255px;
$coin-doge-image: './sprite.png';
$coin-doge: (400px, 656px, -400px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_doge', );
$coin-dsr-name: 'coin_dsr';
$coin-dsr-x: 500px;
$coin-dsr-y: 656px;
$coin-dsr-offset-x: -500px;
$coin-dsr-offset-y: -656px;
$coin-dsr-width: 100px;
$coin-dsr-height: 100px;
$coin-dsr-total-width: 1340px;
$coin-dsr-total-height: 1255px;
$coin-dsr-image: './sprite.png';
$coin-dsr: (500px, 656px, -500px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_dsr', );
$coin-efl-name: 'coin_efl';
$coin-efl-x: 600px;
$coin-efl-y: 656px;
$coin-efl-offset-x: -600px;
$coin-efl-offset-y: -656px;
$coin-efl-width: 100px;
$coin-efl-height: 100px;
$coin-efl-total-width: 1340px;
$coin-efl-total-height: 1255px;
$coin-efl-image: './sprite.png';
$coin-efl: (600px, 656px, -600px, -656px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_efl', );
$coin-emc2-name: 'coin_emc2';
$coin-emc2-x: 756px;
$coin-emc2-y: 0px;
$coin-emc2-offset-x: -756px;
$coin-emc2-offset-y: 0px;
$coin-emc2-width: 100px;
$coin-emc2-height: 100px;
$coin-emc2-total-width: 1340px;
$coin-emc2-total-height: 1255px;
$coin-emc2-image: './sprite.png';
$coin-emc2: (756px, 0px, -756px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_emc2', );
$coin-erc-name: 'coin_erc';
$coin-erc-x: 756px;
$coin-erc-y: 100px;
$coin-erc-offset-x: -756px;
$coin-erc-offset-y: -100px;
$coin-erc-width: 100px;
$coin-erc-height: 100px;
$coin-erc-total-width: 1340px;
$coin-erc-total-height: 1255px;
$coin-erc-image: './sprite.png';
$coin-erc: (756px, 100px, -756px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_erc', );
$coin-etomic-name: 'coin_etomic';
$coin-etomic-x: 756px;
$coin-etomic-y: 200px;
$coin-etomic-offset-x: -756px;
$coin-etomic-offset-y: -200px;
$coin-etomic-width: 100px;
$coin-etomic-height: 100px;
$coin-etomic-total-width: 1340px;
$coin-etomic-total-height: 1255px;
$coin-etomic-image: './sprite.png';
$coin-etomic: (756px, 200px, -756px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_etomic', );
$coin-eur-name: 'coin_eur';
$coin-eur-x: 756px;
$coin-eur-y: 300px;
$coin-eur-offset-x: -756px;
$coin-eur-offset-y: -300px;
$coin-eur-width: 100px;
$coin-eur-height: 100px;
$coin-eur-total-width: 1340px;
$coin-eur-total-height: 1255px;
$coin-eur-image: './sprite.png';
$coin-eur: (756px, 300px, -756px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_eur', );
$coin-fair-name: 'coin_fair';
$coin-fair-x: 756px;
$coin-fair-y: 400px;
$coin-fair-offset-x: -756px;
$coin-fair-offset-y: -400px;
$coin-fair-width: 100px;
$coin-fair-height: 100px;
$coin-fair-total-width: 1340px;
$coin-fair-total-height: 1255px;
$coin-fair-image: './sprite.png';
$coin-fair: (756px, 400px, -756px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_fair', );
$coin-flo-name: 'coin_flo';
$coin-flo-x: 756px;
$coin-flo-y: 500px;
$coin-flo-offset-x: -756px;
$coin-flo-offset-y: -500px;
$coin-flo-width: 100px;
$coin-flo-height: 100px;
$coin-flo-total-width: 1340px;
$coin-flo-total-height: 1255px;
$coin-flo-image: './sprite.png';
$coin-flo: (756px, 500px, -756px, -500px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_flo', );
$coin-frk-name: 'coin_frk';
$coin-frk-x: 756px;
$coin-frk-y: 600px;
$coin-frk-offset-x: -756px;
$coin-frk-offset-y: -600px;
$coin-frk-width: 100px;
$coin-frk-height: 100px;
$coin-frk-total-width: 1340px;
$coin-frk-total-height: 1255px;
$coin-frk-image: './sprite.png';
$coin-frk: (756px, 600px, -756px, -600px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_frk', );
$coin-game-name: 'coin_game';
$coin-game-x: 0px;
$coin-game-y: 756px;
$coin-game-offset-x: 0px;
$coin-game-offset-y: -756px;
$coin-game-width: 100px;
$coin-game-height: 100px;
$coin-game-total-width: 1340px;
$coin-game-total-height: 1255px;
$coin-game-image: './sprite.png';
$coin-game: (0px, 756px, 0px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_game', );
$coin-gamerscoin-name: 'coin_gamerscoin';
$coin-gamerscoin-x: 100px;
$coin-gamerscoin-y: 756px;
$coin-gamerscoin-offset-x: -100px;
$coin-gamerscoin-offset-y: -756px;
$coin-gamerscoin-width: 100px;
$coin-gamerscoin-height: 100px;
$coin-gamerscoin-total-width: 1340px;
$coin-gamerscoin-total-height: 1255px;
$coin-gamerscoin-image: './sprite.png';
$coin-gamerscoin: (100px, 756px, -100px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_gamerscoin', );
$coin-gbp-name: 'coin_gbp';
$coin-gbp-x: 200px;
$coin-gbp-y: 756px;
$coin-gbp-offset-x: -200px;
$coin-gbp-offset-y: -756px;
$coin-gbp-width: 100px;
$coin-gbp-height: 100px;
$coin-gbp-total-width: 1340px;
$coin-gbp-total-height: 1255px;
$coin-gbp-image: './sprite.png';
$coin-gbp: (200px, 756px, -200px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_gbp', );
$coin-gbx-name: 'coin_gbx';
$coin-gbx-x: 300px;
$coin-gbx-y: 756px;
$coin-gbx-offset-x: -300px;
$coin-gbx-offset-y: -756px;
$coin-gbx-width: 100px;
$coin-gbx-height: 100px;
$coin-gbx-total-width: 1340px;
$coin-gbx-total-height: 1255px;
$coin-gbx-image: './sprite.png';
$coin-gbx: (300px, 756px, -300px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_gbx', );
$coin-glt-name: 'coin_glt';
$coin-glt-x: 400px;
$coin-glt-y: 756px;
$coin-glt-offset-x: -400px;
$coin-glt-offset-y: -756px;
$coin-glt-width: 100px;
$coin-glt-height: 100px;
$coin-glt-total-width: 1340px;
$coin-glt-total-height: 1255px;
$coin-glt-image: './sprite.png';
$coin-glt: (400px, 756px, -400px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_glt', );
$coin-grs-name: 'coin_grs';
$coin-grs-x: 1256px;
$coin-grs-y: 517px;
$coin-grs-offset-x: -1256px;
$coin-grs-offset-y: -517px;
$coin-grs-width: 80px;
$coin-grs-height: 80px;
$coin-grs-total-width: 1340px;
$coin-grs-total-height: 1255px;
$coin-grs-image: './sprite.png';
$coin-grs: (1256px, 517px, -1256px, -517px, 80px, 80px, 1340px, 1255px, './sprite.png', 'coin_grs', );
$coin-hkd-name: 'coin_hkd';
$coin-hkd-x: 600px;
$coin-hkd-y: 756px;
$coin-hkd-offset-x: -600px;
$coin-hkd-offset-y: -756px;
$coin-hkd-width: 100px;
$coin-hkd-height: 100px;
$coin-hkd-total-width: 1340px;
$coin-hkd-total-height: 1255px;
$coin-hkd-image: './sprite.png';
$coin-hkd: (600px, 756px, -600px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_hkd', );
$coin-hodl-name: 'coin_hodl';
$coin-hodl-x: 700px;
$coin-hodl-y: 756px;
$coin-hodl-offset-x: -700px;
$coin-hodl-offset-y: -756px;
$coin-hodl-width: 100px;
$coin-hodl-height: 100px;
$coin-hodl-total-width: 1340px;
$coin-hodl-total-height: 1255px;
$coin-hodl-image: './sprite.png';
$coin-hodl: (700px, 756px, -700px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_hodl', );
$coin-hodlc-name: 'coin_hodlc';
$coin-hodlc-x: 1256px;
$coin-hodlc-y: 100px;
$coin-hodlc-offset-x: -1256px;
$coin-hodlc-offset-y: -100px;
$coin-hodlc-width: 80px;
$coin-hodlc-height: 97px;
$coin-hodlc-total-width: 1340px;
$coin-hodlc-total-height: 1255px;
$coin-hodlc-image: './sprite.png';
$coin-hodlc: (1256px, 100px, -1256px, -100px, 80px, 97px, 1340px, 1255px, './sprite.png', 'coin_hodlc', );
$coin-hrk-name: 'coin_hrk';
$coin-hrk-x: 856px;
$coin-hrk-y: 100px;
$coin-hrk-offset-x: -856px;
$coin-hrk-offset-y: -100px;
$coin-hrk-width: 100px;
$coin-hrk-height: 100px;
$coin-hrk-total-width: 1340px;
$coin-hrk-total-height: 1255px;
$coin-hrk-image: './sprite.png';
$coin-hrk: (856px, 100px, -856px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_hrk', );
$coin-huc-name: 'coin_huc';
$coin-huc-x: 256px;
$coin-huc-y: 116px;
$coin-huc-offset-x: -256px;
$coin-huc-offset-y: -116px;
$coin-huc-width: 100px;
$coin-huc-height: 101px;
$coin-huc-total-width: 1340px;
$coin-huc-total-height: 1255px;
$coin-huc-image: './sprite.png';
$coin-huc: (256px, 116px, -256px, -116px, 100px, 101px, 1340px, 1255px, './sprite.png', 'coin_huc', );
$coin-huf-name: 'coin_huf';
$coin-huf-x: 856px;
$coin-huf-y: 300px;
$coin-huf-offset-x: -856px;
$coin-huf-offset-y: -300px;
$coin-huf-width: 100px;
$coin-huf-height: 100px;
$coin-huf-total-width: 1340px;
$coin-huf-total-height: 1255px;
$coin-huf-image: './sprite.png';
$coin-huf: (856px, 300px, -856px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_huf', );
$coin-hush-name: 'coin_hush';
$coin-hush-x: 856px;
$coin-hush-y: 400px;
$coin-hush-offset-x: -856px;
$coin-hush-offset-y: -400px;
$coin-hush-width: 100px;
$coin-hush-height: 100px;
$coin-hush-total-width: 1340px;
$coin-hush-total-height: 1255px;
$coin-hush-image: './sprite.png';
$coin-hush: (856px, 400px, -856px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_hush', );
$coin-i0c-name: 'coin_i0c';
$coin-i0c-x: 856px;
$coin-i0c-y: 500px;
$coin-i0c-offset-x: -856px;
$coin-i0c-offset-y: -500px;
$coin-i0c-width: 100px;
$coin-i0c-height: 100px;
$coin-i0c-total-width: 1340px;
$coin-i0c-total-height: 1255px;
$coin-i0c-image: './sprite.png';
$coin-i0c: (856px, 500px, -856px, -500px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_i0c', );
$coin-idr-name: 'coin_idr';
$coin-idr-x: 856px;
$coin-idr-y: 600px;
$coin-idr-offset-x: -856px;
$coin-idr-offset-y: -600px;
$coin-idr-width: 100px;
$coin-idr-height: 100px;
$coin-idr-total-width: 1340px;
$coin-idr-total-height: 1255px;
$coin-idr-image: './sprite.png';
$coin-idr: (856px, 600px, -856px, -600px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_idr', );
$coin-ils-name: 'coin_ils';
$coin-ils-x: 856px;
$coin-ils-y: 700px;
$coin-ils-offset-x: -856px;
$coin-ils-offset-y: -700px;
$coin-ils-width: 100px;
$coin-ils-height: 100px;
$coin-ils-total-width: 1340px;
$coin-ils-total-height: 1255px;
$coin-ils-image: './sprite.png';
$coin-ils: (856px, 700px, -856px, -700px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_ils', );
$coin-inn-name: 'coin_inn';
$coin-inn-x: 0px;
$coin-inn-y: 856px;
$coin-inn-offset-x: 0px;
$coin-inn-offset-y: -856px;
$coin-inn-width: 100px;
$coin-inn-height: 100px;
$coin-inn-total-width: 1340px;
$coin-inn-total-height: 1255px;
$coin-inn-image: './sprite.png';
$coin-inn: (0px, 856px, 0px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_inn', );
$coin-inr-name: 'coin_inr';
$coin-inr-x: 0px;
$coin-inr-y: 256px;
$coin-inr-offset-x: 0px;
$coin-inr-offset-y: -256px;
$coin-inr-width: 100px;
$coin-inr-height: 100px;
$coin-inr-total-width: 1340px;
$coin-inr-total-height: 1255px;
$coin-inr-image: './sprite.png';
$coin-inr: (0px, 256px, 0px, -256px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_inr', );
$coin-iop-name: 'coin_iop';
$coin-iop-x: 200px;
$coin-iop-y: 856px;
$coin-iop-offset-x: -200px;
$coin-iop-offset-y: -856px;
$coin-iop-width: 100px;
$coin-iop-height: 100px;
$coin-iop-total-width: 1340px;
$coin-iop-total-height: 1255px;
$coin-iop-image: './sprite.png';
$coin-iop: (200px, 856px, -200px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_iop', );
$coin-jpy-name: 'coin_jpy';
$coin-jpy-x: 300px;
$coin-jpy-y: 856px;
$coin-jpy-offset-x: -300px;
$coin-jpy-offset-y: -856px;
$coin-jpy-width: 100px;
$coin-jpy-height: 100px;
$coin-jpy-total-width: 1340px;
$coin-jpy-total-height: 1255px;
$coin-jpy-image: './sprite.png';
$coin-jpy: (300px, 856px, -300px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_jpy', );
$coin-jumblr-name: 'coin_jumblr';
$coin-jumblr-x: 400px;
$coin-jumblr-y: 856px;
$coin-jumblr-offset-x: -400px;
$coin-jumblr-offset-y: -856px;
$coin-jumblr-width: 100px;
$coin-jumblr-height: 100px;
$coin-jumblr-total-width: 1340px;
$coin-jumblr-total-height: 1255px;
$coin-jumblr-image: './sprite.png';
$coin-jumblr: (400px, 856px, -400px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_jumblr', );
$coin-kmd-logo-name: 'coin_kmd-logo';
$coin-kmd-logo-x: 0px;
$coin-kmd-logo-y: 0px;
$coin-kmd-logo-offset-x: 0px;
$coin-kmd-logo-offset-y: 0px;
$coin-kmd-logo-width: 256px;
$coin-kmd-logo-height: 256px;
$coin-kmd-logo-total-width: 1340px;
$coin-kmd-logo-total-height: 1255px;
$coin-kmd-logo-image: './sprite.png';
$coin-kmd-logo: (0px, 0px, 0px, 0px, 256px, 256px, 1340px, 1255px, './sprite.png', 'coin_kmd-logo', );
$coin-kmd-name: 'coin_kmd';
$coin-kmd-x: 600px;
$coin-kmd-y: 856px;
$coin-kmd-offset-x: -600px;
$coin-kmd-offset-y: -856px;
$coin-kmd-width: 100px;
$coin-kmd-height: 100px;
$coin-kmd-total-width: 1340px;
$coin-kmd-total-height: 1255px;
$coin-kmd-image: './sprite.png';
$coin-kmd: (600px, 856px, -600px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_kmd', );
$coin-krw-name: 'coin_krw';
$coin-krw-x: 700px;
$coin-krw-y: 856px;
$coin-krw-offset-x: -700px;
$coin-krw-offset-y: -856px;
$coin-krw-width: 100px;
$coin-krw-height: 100px;
$coin-krw-total-width: 1340px;
$coin-krw-total-height: 1255px;
$coin-krw-image: './sprite.png';
$coin-krw: (700px, 856px, -700px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_krw', );
$coin-kv-name: 'coin_kv';
$coin-kv-x: 800px;
$coin-kv-y: 856px;
$coin-kv-offset-x: -800px;
$coin-kv-offset-y: -856px;
$coin-kv-width: 100px;
$coin-kv-height: 100px;
$coin-kv-total-width: 1340px;
$coin-kv-total-height: 1255px;
$coin-kv-image: './sprite.png';
$coin-kv: (800px, 856px, -800px, -856px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_kv', );
$coin-lbc-name: 'coin_lbc';
$coin-lbc-x: 300px;
$coin-lbc-y: 1156px;
$coin-lbc-offset-x: -300px;
$coin-lbc-offset-y: -1156px;
$coin-lbc-width: 100px;
$coin-lbc-height: 73px;
$coin-lbc-total-width: 1340px;
$coin-lbc-total-height: 1255px;
$coin-lbc-image: './sprite.png';
$coin-lbc: (300px, 1156px, -300px, -1156px, 100px, 73px, 1340px, 1255px, './sprite.png', 'coin_lbc', );
$coin-litecoin-name: 'coin_litecoin';
$coin-litecoin-x: 956px;
$coin-litecoin-y: 100px;
$coin-litecoin-offset-x: -956px;
$coin-litecoin-offset-y: -100px;
$coin-litecoin-width: 100px;
$coin-litecoin-height: 100px;
$coin-litecoin-total-width: 1340px;
$coin-litecoin-total-height: 1255px;
$coin-litecoin-image: './sprite.png';
$coin-litecoin: (956px, 100px, -956px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_litecoin', );
$coin-ltc-name: 'coin_ltc';
$coin-ltc-x: 956px;
$coin-ltc-y: 200px;
$coin-ltc-offset-x: -956px;
$coin-ltc-offset-y: -200px;
$coin-ltc-width: 100px;
$coin-ltc-height: 100px;
$coin-ltc-total-width: 1340px;
$coin-ltc-total-height: 1255px;
$coin-ltc-image: './sprite.png';
$coin-ltc: (956px, 200px, -956px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_ltc', );
$coin-mac-name: 'coin_mac';
$coin-mac-x: 356px;
$coin-mac-y: 0px;
$coin-mac-offset-x: -356px;
$coin-mac-offset-y: 0px;
$coin-mac-width: 100px;
$coin-mac-height: 101px;
$coin-mac-total-width: 1340px;
$coin-mac-total-height: 1255px;
$coin-mac-image: './sprite.png';
$coin-mac: (356px, 0px, -356px, 0px, 100px, 101px, 1340px, 1255px, './sprite.png', 'coin_mac', );
$coin-maga-name: 'coin_maga';
$coin-maga-x: 956px;
$coin-maga-y: 400px;
$coin-maga-offset-x: -956px;
$coin-maga-offset-y: -400px;
$coin-maga-width: 100px;
$coin-maga-height: 100px;
$coin-maga-total-width: 1340px;
$coin-maga-total-height: 1255px;
$coin-maga-image: './sprite.png';
$coin-maga: (956px, 400px, -956px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_maga', );
$coin-mesh-name: 'coin_mesh';
$coin-mesh-x: 956px;
$coin-mesh-y: 500px;
$coin-mesh-offset-x: -956px;
$coin-mesh-offset-y: -500px;
$coin-mesh-width: 100px;
$coin-mesh-height: 100px;
$coin-mesh-total-width: 1340px;
$coin-mesh-total-height: 1255px;
$coin-mesh-image: './sprite.png';
$coin-mesh: (956px, 500px, -956px, -500px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mesh', );
$coin-mgw-name: 'coin_mgw';
$coin-mgw-x: 956px;
$coin-mgw-y: 600px;
$coin-mgw-offset-x: -956px;
$coin-mgw-offset-y: -600px;
$coin-mgw-width: 100px;
$coin-mgw-height: 100px;
$coin-mgw-total-width: 1340px;
$coin-mgw-total-height: 1255px;
$coin-mgw-image: './sprite.png';
$coin-mgw: (956px, 600px, -956px, -600px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mgw', );
$coin-mnz-name: 'coin_mnz';
$coin-mnz-x: 1156px;
$coin-mnz-y: 900px;
$coin-mnz-offset-x: -1156px;
$coin-mnz-offset-y: -900px;
$coin-mnz-width: 100px;
$coin-mnz-height: 99px;
$coin-mnz-total-width: 1340px;
$coin-mnz-total-height: 1255px;
$coin-mnz-image: './sprite.png';
$coin-mnz: (1156px, 900px, -1156px, -900px, 100px, 99px, 1340px, 1255px, './sprite.png', 'coin_mnz', );
$coin-mona-name: 'coin_mona';
$coin-mona-x: 956px;
$coin-mona-y: 800px;
$coin-mona-offset-x: -956px;
$coin-mona-offset-y: -800px;
$coin-mona-width: 100px;
$coin-mona-height: 100px;
$coin-mona-total-width: 1340px;
$coin-mona-total-height: 1255px;
$coin-mona-image: './sprite.png';
$coin-mona: (956px, 800px, -956px, -800px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mona', );
$coin-moon-name: 'coin_moon';
$coin-moon-x: 0px;
$coin-moon-y: 956px;
$coin-moon-offset-x: 0px;
$coin-moon-offset-y: -956px;
$coin-moon-width: 100px;
$coin-moon-height: 100px;
$coin-moon-total-width: 1340px;
$coin-moon-total-height: 1255px;
$coin-moon-image: './sprite.png';
$coin-moon: (0px, 956px, 0px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_moon', );
$coin-mshark-name: 'coin_mshark';
$coin-mshark-x: 100px;
$coin-mshark-y: 956px;
$coin-mshark-offset-x: -100px;
$coin-mshark-offset-y: -956px;
$coin-mshark-width: 100px;
$coin-mshark-height: 100px;
$coin-mshark-total-width: 1340px;
$coin-mshark-total-height: 1255px;
$coin-mshark-image: './sprite.png';
$coin-mshark: (100px, 956px, -100px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mshark', );
$coin-mue-name: 'coin_mue';
$coin-mue-x: 200px;
$coin-mue-y: 956px;
$coin-mue-offset-x: -200px;
$coin-mue-offset-y: -956px;
$coin-mue-width: 100px;
$coin-mue-height: 100px;
$coin-mue-total-width: 1340px;
$coin-mue-total-height: 1255px;
$coin-mue-image: './sprite.png';
$coin-mue: (200px, 956px, -200px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mue', );
$coin-mvp-name: 'coin_mvp';
$coin-mvp-x: 300px;
$coin-mvp-y: 956px;
$coin-mvp-offset-x: -300px;
$coin-mvp-offset-y: -956px;
$coin-mvp-width: 100px;
$coin-mvp-height: 100px;
$coin-mvp-total-width: 1340px;
$coin-mvp-total-height: 1255px;
$coin-mvp-image: './sprite.png';
$coin-mvp: (300px, 956px, -300px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mvp', );
$coin-mxn-name: 'coin_mxn';
$coin-mxn-x: 400px;
$coin-mxn-y: 956px;
$coin-mxn-offset-x: -400px;
$coin-mxn-offset-y: -956px;
$coin-mxn-width: 100px;
$coin-mxn-height: 100px;
$coin-mxn-total-width: 1340px;
$coin-mxn-total-height: 1255px;
$coin-mxn-image: './sprite.png';
$coin-mxn: (400px, 956px, -400px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mxn', );
$coin-myr-name: 'coin_myr';
$coin-myr-x: 500px;
$coin-myr-y: 956px;
$coin-myr-offset-x: -500px;
$coin-myr-offset-y: -956px;
$coin-myr-width: 100px;
$coin-myr-height: 100px;
$coin-myr-total-width: 1340px;
$coin-myr-total-height: 1255px;
$coin-myr-image: './sprite.png';
$coin-myr: (500px, 956px, -500px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_myr', );
$coin-mzc-name: 'coin_mzc';
$coin-mzc-x: 600px;
$coin-mzc-y: 956px;
$coin-mzc-offset-x: -600px;
$coin-mzc-offset-y: -956px;
$coin-mzc-width: 100px;
$coin-mzc-height: 100px;
$coin-mzc-total-width: 1340px;
$coin-mzc-total-height: 1255px;
$coin-mzc-image: './sprite.png';
$coin-mzc: (600px, 956px, -600px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_mzc', );
$coin-nav-name: 'coin_nav';
$coin-nav-x: 700px;
$coin-nav-y: 956px;
$coin-nav-offset-x: -700px;
$coin-nav-offset-y: -956px;
$coin-nav-width: 100px;
$coin-nav-height: 100px;
$coin-nav-total-width: 1340px;
$coin-nav-total-height: 1255px;
$coin-nav-image: './sprite.png';
$coin-nav: (700px, 956px, -700px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_nav', );
$coin-nmc-name: 'coin_nmc';
$coin-nmc-x: 800px;
$coin-nmc-y: 956px;
$coin-nmc-offset-x: -800px;
$coin-nmc-offset-y: -956px;
$coin-nmc-width: 100px;
$coin-nmc-height: 100px;
$coin-nmc-total-width: 1340px;
$coin-nmc-total-height: 1255px;
$coin-nmc-image: './sprite.png';
$coin-nmc: (800px, 956px, -800px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_nmc', );
$coin-nok-name: 'coin_nok';
$coin-nok-x: 900px;
$coin-nok-y: 956px;
$coin-nok-offset-x: -900px;
$coin-nok-offset-y: -956px;
$coin-nok-width: 100px;
$coin-nok-height: 100px;
$coin-nok-total-width: 1340px;
$coin-nok-total-height: 1255px;
$coin-nok-image: './sprite.png';
$coin-nok: (900px, 956px, -900px, -956px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_nok', );
$coin-nzd-name: 'coin_nzd';
$coin-nzd-x: 1056px;
$coin-nzd-y: 0px;
$coin-nzd-offset-x: -1056px;
$coin-nzd-offset-y: 0px;
$coin-nzd-width: 100px;
$coin-nzd-height: 100px;
$coin-nzd-total-width: 1340px;
$coin-nzd-total-height: 1255px;
$coin-nzd-image: './sprite.png';
$coin-nzd: (1056px, 0px, -1056px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_nzd', );
$coin-pangea-name: 'coin_pangea';
$coin-pangea-x: 1056px;
$coin-pangea-y: 100px;
$coin-pangea-offset-x: -1056px;
$coin-pangea-offset-y: -100px;
$coin-pangea-width: 100px;
$coin-pangea-height: 100px;
$coin-pangea-total-width: 1340px;
$coin-pangea-total-height: 1255px;
$coin-pangea-image: './sprite.png';
$coin-pangea: (1056px, 100px, -1056px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_pangea', );
$coin-php-name: 'coin_php';
$coin-php-x: 1056px;
$coin-php-y: 200px;
$coin-php-offset-x: -1056px;
$coin-php-offset-y: -200px;
$coin-php-width: 100px;
$coin-php-height: 100px;
$coin-php-total-width: 1340px;
$coin-php-total-height: 1255px;
$coin-php-image: './sprite.png';
$coin-php: (1056px, 200px, -1056px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_php', );
$coin-pivx-name: 'coin_pivx';
$coin-pivx-x: 1056px;
$coin-pivx-y: 300px;
$coin-pivx-offset-x: -1056px;
$coin-pivx-offset-y: -300px;
$coin-pivx-width: 100px;
$coin-pivx-height: 100px;
$coin-pivx-total-width: 1340px;
$coin-pivx-total-height: 1255px;
$coin-pivx-image: './sprite.png';
$coin-pivx: (1056px, 300px, -1056px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_pivx', );
$coin-pizza-name: 'coin_pizza';
$coin-pizza-x: 1256px;
$coin-pizza-y: 197px;
$coin-pizza-offset-x: -1256px;
$coin-pizza-offset-y: -197px;
$coin-pizza-width: 80px;
$coin-pizza-height: 80px;
$coin-pizza-total-width: 1340px;
$coin-pizza-total-height: 1255px;
$coin-pizza-image: './sprite.png';
$coin-pizza: (1256px, 197px, -1256px, -197px, 80px, 80px, 1340px, 1255px, './sprite.png', 'coin_pizza', );
$coin-pln-name: 'coin_pln';
$coin-pln-x: 1056px;
$coin-pln-y: 500px;
$coin-pln-offset-x: -1056px;
$coin-pln-offset-y: -500px;
$coin-pln-width: 100px;
$coin-pln-height: 100px;
$coin-pln-total-width: 1340px;
$coin-pln-total-height: 1255px;
$coin-pln-image: './sprite.png';
$coin-pln: (1056px, 500px, -1056px, -500px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_pln', );
$coin-pura-name: 'coin_pura';
$coin-pura-x: 1056px;
$coin-pura-y: 600px;
$coin-pura-offset-x: -1056px;
$coin-pura-offset-y: -600px;
$coin-pura-width: 100px;
$coin-pura-height: 100px;
$coin-pura-total-width: 1340px;
$coin-pura-total-height: 1255px;
$coin-pura-image: './sprite.png';
$coin-pura: (1056px, 600px, -1056px, -600px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_pura', );
$coin-qtum-name: 'coin_qtum';
$coin-qtum-x: 1056px;
$coin-qtum-y: 700px;
$coin-qtum-offset-x: -1056px;
$coin-qtum-offset-y: -700px;
$coin-qtum-width: 100px;
$coin-qtum-height: 100px;
$coin-qtum-total-width: 1340px;
$coin-qtum-total-height: 1255px;
$coin-qtum-image: './sprite.png';
$coin-qtum: (1056px, 700px, -1056px, -700px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_qtum', );
$coin-revs-name: 'coin_revs';
$coin-revs-x: 1056px;
$coin-revs-y: 800px;
$coin-revs-offset-x: -1056px;
$coin-revs-offset-y: -800px;
$coin-revs-width: 100px;
$coin-revs-height: 100px;
$coin-revs-total-width: 1340px;
$coin-revs-total-height: 1255px;
$coin-revs-image: './sprite.png';
$coin-revs: (1056px, 800px, -1056px, -800px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_revs', );
$coin-ron-name: 'coin_ron';
$coin-ron-x: 1056px;
$coin-ron-y: 900px;
$coin-ron-offset-x: -1056px;
$coin-ron-offset-y: -900px;
$coin-ron-width: 100px;
$coin-ron-height: 100px;
$coin-ron-total-width: 1340px;
$coin-ron-total-height: 1255px;
$coin-ron-image: './sprite.png';
$coin-ron: (1056px, 900px, -1056px, -900px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_ron', );
$coin-rub-name: 'coin_rub';
$coin-rub-x: 0px;
$coin-rub-y: 1056px;
$coin-rub-offset-x: 0px;
$coin-rub-offset-y: -1056px;
$coin-rub-width: 100px;
$coin-rub-height: 100px;
$coin-rub-total-width: 1340px;
$coin-rub-total-height: 1255px;
$coin-rub-image: './sprite.png';
$coin-rub: (0px, 1056px, 0px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_rub', );
$coin-sek-name: 'coin_sek';
$coin-sek-x: 100px;
$coin-sek-y: 1056px;
$coin-sek-offset-x: -100px;
$coin-sek-offset-y: -1056px;
$coin-sek-width: 100px;
$coin-sek-height: 100px;
$coin-sek-total-width: 1340px;
$coin-sek-total-height: 1255px;
$coin-sek-image: './sprite.png';
$coin-sek: (100px, 1056px, -100px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_sek', );
$coin-sgd-name: 'coin_sgd';
$coin-sgd-x: 200px;
$coin-sgd-y: 1056px;
$coin-sgd-offset-x: -200px;
$coin-sgd-offset-y: -1056px;
$coin-sgd-width: 100px;
$coin-sgd-height: 100px;
$coin-sgd-total-width: 1340px;
$coin-sgd-total-height: 1255px;
$coin-sgd-image: './sprite.png';
$coin-sgd: (200px, 1056px, -200px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_sgd', );
$coin-shark-name: 'coin_shark';
$coin-shark-x: 300px;
$coin-shark-y: 1056px;
$coin-shark-offset-x: -300px;
$coin-shark-offset-y: -1056px;
$coin-shark-width: 100px;
$coin-shark-height: 100px;
$coin-shark-total-width: 1340px;
$coin-shark-total-height: 1255px;
$coin-shark-image: './sprite.png';
$coin-shark: (300px, 1056px, -300px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_shark', );
$coin-sib-name: 'coin_sib';
$coin-sib-x: 400px;
$coin-sib-y: 1056px;
$coin-sib-offset-x: -400px;
$coin-sib-offset-y: -1056px;
$coin-sib-width: 100px;
$coin-sib-height: 100px;
$coin-sib-total-width: 1340px;
$coin-sib-total-height: 1255px;
$coin-sib-image: './sprite.png';
$coin-sib: (400px, 1056px, -400px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_sib', );
$coin-smc-name: 'coin_smc';
$coin-smc-x: 500px;
$coin-smc-y: 1056px;
$coin-smc-offset-x: -500px;
$coin-smc-offset-y: -1056px;
$coin-smc-width: 100px;
$coin-smc-height: 100px;
$coin-smc-total-width: 1340px;
$coin-smc-total-height: 1255px;
$coin-smc-image: './sprite.png';
$coin-smc: (500px, 1056px, -500px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_smc', );
$coin-stak-name: 'coin_stak';
$coin-stak-x: 600px;
$coin-stak-y: 1056px;
$coin-stak-offset-x: -600px;
$coin-stak-offset-y: -1056px;
$coin-stak-width: 100px;
$coin-stak-height: 100px;
$coin-stak-total-width: 1340px;
$coin-stak-total-height: 1255px;
$coin-stak-image: './sprite.png';
$coin-stak: (600px, 1056px, -600px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_stak', );
$coin-strat-name: 'coin_strat';
$coin-strat-x: 700px;
$coin-strat-y: 1056px;
$coin-strat-offset-x: -700px;
$coin-strat-offset-y: -1056px;
$coin-strat-width: 100px;
$coin-strat-height: 100px;
$coin-strat-total-width: 1340px;
$coin-strat-total-height: 1255px;
$coin-strat-image: './sprite.png';
$coin-strat: (700px, 1056px, -700px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_strat', );
$coin-supernet-name: 'coin_supernet';
$coin-supernet-x: 800px;
$coin-supernet-y: 1056px;
$coin-supernet-offset-x: -800px;
$coin-supernet-offset-y: -1056px;
$coin-supernet-width: 100px;
$coin-supernet-height: 100px;
$coin-supernet-total-width: 1340px;
$coin-supernet-total-height: 1255px;
$coin-supernet-image: './sprite.png';
$coin-supernet: (800px, 1056px, -800px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_supernet', );
$coin-sxc-name: 'coin_sxc';
$coin-sxc-x: 356px;
$coin-sxc-y: 101px;
$coin-sxc-offset-x: -356px;
$coin-sxc-offset-y: -101px;
$coin-sxc-width: 100px;
$coin-sxc-height: 101px;
$coin-sxc-total-width: 1340px;
$coin-sxc-total-height: 1255px;
$coin-sxc-image: './sprite.png';
$coin-sxc: (356px, 101px, -356px, -101px, 100px, 101px, 1340px, 1255px, './sprite.png', 'coin_sxc', );
$coin-sys-name: 'coin_sys';
$coin-sys-x: 1000px;
$coin-sys-y: 1056px;
$coin-sys-offset-x: -1000px;
$coin-sys-offset-y: -1056px;
$coin-sys-width: 100px;
$coin-sys-height: 100px;
$coin-sys-total-width: 1340px;
$coin-sys-total-height: 1255px;
$coin-sys-image: './sprite.png';
$coin-sys: (1000px, 1056px, -1000px, -1056px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_sys', );
$coin-thb-name: 'coin_thb';
$coin-thb-x: 1156px;
$coin-thb-y: 0px;
$coin-thb-offset-x: -1156px;
$coin-thb-offset-y: 0px;
$coin-thb-width: 100px;
$coin-thb-height: 100px;
$coin-thb-total-width: 1340px;
$coin-thb-total-height: 1255px;
$coin-thb-image: './sprite.png';
$coin-thb: (1156px, 0px, -1156px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_thb', );
$coin-trc-name: 'coin_trc';
$coin-trc-x: 200px;
$coin-trc-y: 1156px;
$coin-trc-offset-x: -200px;
$coin-trc-offset-y: -1156px;
$coin-trc-width: 100px;
$coin-trc-height: 94px;
$coin-trc-total-width: 1340px;
$coin-trc-total-height: 1255px;
$coin-trc-image: './sprite.png';
$coin-trc: (200px, 1156px, -200px, -1156px, 100px, 94px, 1340px, 1255px, './sprite.png', 'coin_trc', );
$coin-try-name: 'coin_try';
$coin-try-x: 1156px;
$coin-try-y: 200px;
$coin-try-offset-x: -1156px;
$coin-try-offset-y: -200px;
$coin-try-width: 100px;
$coin-try-height: 100px;
$coin-try-total-width: 1340px;
$coin-try-total-height: 1255px;
$coin-try-image: './sprite.png';
$coin-try: (1156px, 200px, -1156px, -200px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_try', );
$coin-uis-name: 'coin_uis';
$coin-uis-x: 100px;
$coin-uis-y: 1156px;
$coin-uis-offset-x: -100px;
$coin-uis-offset-y: -1156px;
$coin-uis-width: 100px;
$coin-uis-height: 96px;
$coin-uis-total-width: 1340px;
$coin-uis-total-height: 1255px;
$coin-uis-image: './sprite.png';
$coin-uis: (100px, 1156px, -100px, -1156px, 100px, 96px, 1340px, 1255px, './sprite.png', 'coin_uis', );
$coin-uno-name: 'coin_uno';
$coin-uno-x: 1156px;
$coin-uno-y: 400px;
$coin-uno-offset-x: -1156px;
$coin-uno-offset-y: -400px;
$coin-uno-width: 100px;
$coin-uno-height: 100px;
$coin-uno-total-width: 1340px;
$coin-uno-total-height: 1255px;
$coin-uno-image: './sprite.png';
$coin-uno: (1156px, 400px, -1156px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_uno', );
$coin-usd-name: 'coin_usd';
$coin-usd-x: 1156px;
$coin-usd-y: 500px;
$coin-usd-offset-x: -1156px;
$coin-usd-offset-y: -500px;
$coin-usd-width: 100px;
$coin-usd-height: 100px;
$coin-usd-total-width: 1340px;
$coin-usd-total-height: 1255px;
$coin-usd-image: './sprite.png';
$coin-usd: (1156px, 500px, -1156px, -500px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_usd', );
$coin-via-name: 'coin_via';
$coin-via-x: 1156px;
$coin-via-y: 600px;
$coin-via-offset-x: -1156px;
$coin-via-offset-y: -600px;
$coin-via-width: 100px;
$coin-via-height: 100px;
$coin-via-total-width: 1340px;
$coin-via-total-height: 1255px;
$coin-via-image: './sprite.png';
$coin-via: (1156px, 600px, -1156px, -600px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_via', );
$coin-vot-name: 'coin_vot';
$coin-vot-x: 1156px;
$coin-vot-y: 700px;
$coin-vot-offset-x: -1156px;
$coin-vot-offset-y: -700px;
$coin-vot-width: 100px;
$coin-vot-height: 100px;
$coin-vot-total-width: 1340px;
$coin-vot-total-height: 1255px;
$coin-vot-image: './sprite.png';
$coin-vot: (1156px, 700px, -1156px, -700px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_vot', );
$coin-vpn-name: 'coin_vpn';
$coin-vpn-x: 1156px;
$coin-vpn-y: 800px;
$coin-vpn-offset-x: -1156px;
$coin-vpn-offset-y: -800px;
$coin-vpn-width: 100px;
$coin-vpn-height: 100px;
$coin-vpn-total-width: 1340px;
$coin-vpn-total-height: 1255px;
$coin-vpn-image: './sprite.png';
$coin-vpn: (1156px, 800px, -1156px, -800px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_vpn', );
$coin-vtc-name: 'coin_vtc';
$coin-vtc-x: 1156px;
$coin-vtc-y: 300px;
$coin-vtc-offset-x: -1156px;
$coin-vtc-offset-y: -300px;
$coin-vtc-width: 100px;
$coin-vtc-height: 100px;
$coin-vtc-total-width: 1340px;
$coin-vtc-total-height: 1255px;
$coin-vtc-image: './sprite.png';
$coin-vtc: (1156px, 300px, -1156px, -300px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_vtc', );
$coin-wlc-name: 'coin_wlc';
$coin-wlc-x: 1156px;
$coin-wlc-y: 100px;
$coin-wlc-offset-x: -1156px;
$coin-wlc-offset-y: -100px;
$coin-wlc-width: 100px;
$coin-wlc-height: 100px;
$coin-wlc-total-width: 1340px;
$coin-wlc-total-height: 1255px;
$coin-wlc-image: './sprite.png';
$coin-wlc: (1156px, 100px, -1156px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_wlc', );
$coin-xmcc-name: 'coin_xmcc';
$coin-xmcc-x: 1056px;
$coin-xmcc-y: 400px;
$coin-xmcc-offset-x: -1056px;
$coin-xmcc-offset-y: -400px;
$coin-xmcc-width: 100px;
$coin-xmcc-height: 100px;
$coin-xmcc-total-width: 1340px;
$coin-xmcc-total-height: 1255px;
$coin-xmcc-image: './sprite.png';
$coin-xmcc: (1056px, 400px, -1056px, -400px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_xmcc', );
$coin-xmy-name: 'coin_xmy';
$coin-xmy-x: 956px;
$coin-xmy-y: 700px;
$coin-xmy-offset-x: -956px;
$coin-xmy-offset-y: -700px;
$coin-xmy-width: 100px;
$coin-xmy-height: 100px;
$coin-xmy-total-width: 1340px;
$coin-xmy-total-height: 1255px;
$coin-xmy-image: './sprite.png';
$coin-xmy: (956px, 700px, -956px, -700px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_xmy', );
$coin-xre-name: 'coin_xre';
$coin-xre-x: 956px;
$coin-xre-y: 0px;
$coin-xre-offset-x: -956px;
$coin-xre-offset-y: 0px;
$coin-xre-width: 100px;
$coin-xre-height: 100px;
$coin-xre-total-width: 1340px;
$coin-xre-total-height: 1255px;
$coin-xre-image: './sprite.png';
$coin-xre: (956px, 0px, -956px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_xre', );
$coin-xzc-name: 'coin_xzc';
$coin-xzc-x: 856px;
$coin-xzc-y: 0px;
$coin-xzc-offset-x: -856px;
$coin-xzc-offset-y: 0px;
$coin-xzc-width: 100px;
$coin-xzc-height: 100px;
$coin-xzc-total-width: 1340px;
$coin-xzc-total-height: 1255px;
$coin-xzc-image: './sprite.png';
$coin-xzc: (856px, 0px, -856px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_xzc', );
$coin-zar-name: 'coin_zar';
$coin-zar-x: 500px;
$coin-zar-y: 756px;
$coin-zar-offset-x: -500px;
$coin-zar-offset-y: -756px;
$coin-zar-width: 100px;
$coin-zar-height: 100px;
$coin-zar-total-width: 1340px;
$coin-zar-total-height: 1255px;
$coin-zar-image: './sprite.png';
$coin-zar: (500px, 756px, -500px, -756px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_zar', );
$coin-zcl-name: 'coin_zcl';
$coin-zcl-x: 556px;
$coin-zcl-y: 100px;
$coin-zcl-offset-x: -556px;
$coin-zcl-offset-y: -100px;
$coin-zcl-width: 100px;
$coin-zcl-height: 100px;
$coin-zcl-total-width: 1340px;
$coin-zcl-total-height: 1255px;
$coin-zcl-image: './sprite.png';
$coin-zcl: (556px, 100px, -556px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_zcl', );
$coin-zec-name: 'coin_zec';
$coin-zec-x: 556px;
$coin-zec-y: 0px;
$coin-zec-offset-x: -556px;
$coin-zec-offset-y: 0px;
$coin-zec-width: 100px;
$coin-zec-height: 100px;
$coin-zec-total-width: 1340px;
$coin-zec-total-height: 1255px;
$coin-zec-image: './sprite.png';
$coin-zec: (556px, 0px, -556px, 0px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_zec', );
$coin-zen-name: 'coin_zen';
$coin-zen-x: 456px;
$coin-zen-y: 100px;
$coin-zen-offset-x: -456px;
$coin-zen-offset-y: -100px;
$coin-zen-width: 100px;
$coin-zen-height: 100px;
$coin-zen-total-width: 1340px;
$coin-zen-total-height: 1255px;
$coin-zen-image: './sprite.png';
$coin-zen: (456px, 100px, -456px, -100px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_zen', );
$coin-zer-name: 'coin_zer';
$coin-zer-x: 200px;
$coin-zer-y: 356px;
$coin-zer-offset-x: -200px;
$coin-zer-offset-y: -356px;
$coin-zer-width: 100px;
$coin-zer-height: 100px;
$coin-zer-total-width: 1340px;
$coin-zer-total-height: 1255px;
$coin-zer-image: './sprite.png';
$coin-zer: (200px, 356px, -200px, -356px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_zer', );
$coin-zet-name: 'coin_zet';
$coin-zet-x: 200px;
$coin-zet-y: 256px;
$coin-zet-offset-x: -200px;
$coin-zet-offset-y: -256px;
$coin-zet-width: 100px;
$coin-zet-height: 100px;
$coin-zet-total-width: 1340px;
$coin-zet-total-height: 1255px;
$coin-zet-image: './sprite.png';
$coin-zet: (200px, 256px, -200px, -256px, 100px, 100px, 1340px, 1255px, './sprite.png', 'coin_zet', );
$coin-zoi-name: 'coin_zoi';
$coin-zoi-x: 1256px;
$coin-zoi-y: 277px;
$coin-zoi-offset-x: -1256px;
$coin-zoi-offset-y: -277px;
$coin-zoi-width: 80px;
$coin-zoi-height: 80px;
$coin-zoi-total-width: 1340px;
$coin-zoi-total-height: 1255px;
$coin-zoi-image: './sprite.png';
$coin-zoi: (1256px, 277px, -1256px, -277px, 80px, 80px, 1340px, 1255px, './sprite.png', 'coin_zoi', );
$spritesheet-width: 1340px;
$spritesheet-height: 1255px;
$spritesheet-image: './sprite.png';
$spritesheet-sprites: ($coin-888, $coin-aby, $coin-anc, $coin-arc, $coin-arg, $coin-aud, $coin-axo, $coin-bay, $coin-bch, $coin-bco, $coin-bdl, $coin-beer, $coin-bet, $coin-bgn, $coin-blk, $coin-block, $coin-bots, $coin-brl, $coin-bsd, $coin-bta, $coin-btc, $coin-btcd, $coin-btch, $coin-btcz, $coin-btg, $coin-btm, $coin-btx, $coin-cad, $coin-carb, $coin-ceal, $coin-chf, $coin-chips, $coin-cny, $coin-coqui, $coin-crc, $coin-crea, $coin-crw, $coin-crypto, $coin-czk, $coin-dash, $coin-dex, $coin-dgb, $coin-dkk, $coin-doge, $coin-dsr, $coin-efl, $coin-emc2, $coin-erc, $coin-etomic, $coin-eur, $coin-fair, $coin-flo, $coin-frk, $coin-game, $coin-gamerscoin, $coin-gbp, $coin-gbx, $coin-glt, $coin-grs, $coin-hkd, $coin-hodl, $coin-hodlc, $coin-hrk, $coin-huc, $coin-huf, $coin-hush, $coin-i0c, $coin-idr, $coin-ils, $coin-inn, $coin-inr, $coin-iop, $coin-jpy, $coin-jumblr, $coin-kmd-logo, $coin-kmd, $coin-krw, $coin-kv, $coin-lbc, $coin-litecoin, $coin-ltc, $coin-mac, $coin-maga, $coin-mesh, $coin-mgw, $coin-mnz, $coin-mona, $coin-moon, $coin-mshark, $coin-mue, $coin-mvp, $coin-mxn, $coin-myr, $coin-mzc, $coin-nav, $coin-nmc, $coin-nok, $coin-nzd, $coin-pangea, $coin-php, $coin-pivx, $coin-pizza, $coin-pln, $coin-pura, $coin-qtum, $coin-revs, $coin-ron, $coin-rub, $coin-sek, $coin-sgd, $coin-shark, $coin-sib, $coin-smc, $coin-stak, $coin-strat, $coin-supernet, $coin-sxc, $coin-sys, $coin-thb, $coin-trc, $coin-try, $coin-uis, $coin-uno, $coin-usd, $coin-via, $coin-vot, $coin-vpn, $coin-vtc, $coin-wlc, $coin-xmcc, $coin-xmy, $coin-xre, $coin-xzc, $coin-zar, $coin-zcl, $coin-zec, $coin-zen, $coin-zer, $coin-zet, $coin-zoi, );
$spritesheet: (1340px, 1255px, './sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
